//- mixin checkbox(title)
//- 	label.custom-checkbox
//- 		= title
//- 		input(type="checkbox")
//- 		span.custom-checkbox__checkmark
mixin card(index, status, bg, description, descriptionSelHover, title, taste, count, giftsPart, gifts, giftsPastPart, other, weight, afterText, afterActive, afterDisable)
	li.product(class=status ? 'active' : '' id='product_' + (index + 1) role='product' aria-labelledby="Товар " + title + " " + description + " " + weight + "кг" tabindex= "" + (index + 1) )
		input.productSelect(type='checkbox' name='selectProduct' id='product-' + (index + 1) disabled= status ? false : 'disabled' )
		label.product__inner-wrapper(for='product-' + (index + 1))
			include ../../images/board.svg
			.product__inner
				.product__description
					span.description__inner
						= description
					span.description__inner-SelHover
						= descriptionSelHover
				h2.product__title
					= title
				.product__subtitle
					= taste
				.product__count
					= count
					span
						|  порций
				.product__gift
					span
						= giftsPart
					span
						= gifts
					span
						= giftsPastPart
			.product__weight
				= weight
				small
					| кг
			.product__card-bg
				img(src=`${bg}`, alt="")
		.product__afterText
			span.default
				= afterText
				| #[label(for='product-' + (index + 1)) купи. ]
			span.active-text
				= afterActive
			span.disable-text
				= afterDisable
