extends pug/base

append vars
	//- ...
block content
	style.
		table{
			max-width:600px;
			margin:40px auto;

		}
		table *{
			color: white;
			font-size: 15px;
		}
		tr{
			background-color: #484141;
			border-bottom: 1px solid rgba(255,255,255,.3);
		}
		th{
			background-color: #382a2a;
			padding: 20px;
		}
		td{
			padding: 10px;
		}
		ul{
			padding-left: 15px;
		}
	table
		tr
			th
				| #
			th
				| Вопрос
			th
				| Ответ
		tr
			td
				| 1.а
			td
				| Хорошая вёрстка для пользователя
			td
				| - скорость загрузки, удобство интерфейса
		tr
			td
				| 1.b
			td
				| Хорошая вёрстка для менеджера проекта
			td
				| - порядок и своевременность загрузки в репозитории, возможность быстрой модификации
		tr
			td
				| 1.c
			td
				| Хорошая вёрстка для дизайнера
			td
				| - соответствие макету,  возможность быстрой модификации
		tr
			td
				| 1.d
			td
				| Хорошая вёрстка для верстальщика
			td
				ul
					li возможность переиспользования блоков,
					li комментарии,
					li наименование классов по какой-либо системе(например БЕМ)
		tr
			td
				| 1.e
			td
				| Хорошая вёрстка для клиентского программиста
			td
				ul
					li НЕ использование костылей и библиотек без необходимости,
					li комментарии в коде,
					li краткость,
					li возможность переиспользование(например у меня в коде это миксин карточек)
		tr
			td
				| 1.f
			td
				| Хорошая вёрстка для серверного программиста
			td
				| - краткость и "понятность" в коде
		tr
			td
				| 2.а
			td
				| Особенности вёрстки крупных сайтов.
			td
				ul
					li Выделение повторяющихся блоков и типов блоков,
					li осмысленное именование классов и интерфейсов,
					li семантичность,
					li структурирование,
					li учитывать "соседей по коду" если верстальщиков более чем один
		tr
			td
				| 2.b
			td
				| Опыт вёрстки крупных сайтов.
			td
				p Несколько закрытых проектов/ приложений:
				ul
					li Личный кабинет проведения маркетинговых исследований/акций(более 15 страниц, ангуляр 4 - только вёрстка);
					li Площадка рекламных мест(более 35 страниц, pug)
					li Магазин духов (более 10 страниц, pug)
					li Площадка создания микро-лендингов для маркетинговых исследований(более 50 страниц, ангуляр 1 - только вёрстка)
					li Сервис создания личных тренировок (более 15 страниц, только вёрстка)
		tr
			td
				| 3.a
			td
				| Особенности вёрстки сайтов на разных устройствах
			td
				ul
					li Различный рендеринг шрифтов
					li особенности отображение иконочных шрифтов и свг
					li поступать в зависимости от того находится ли мобильная версия на одном домене с десктопной
					li вьюпорт
					li ссылки с телефонов на прозвон
					li удобные кнопки и ссылки
		tr
			td
				| 3.b
			td
				| Инструменты и технологии для проверки кроссбраузерности
			td
				ul
					li Реальные устройства
					li эмуляция в браузере
					li запуск на удалённых, реальных устройствах, например www.browserstack.com
		tr
			td
				| 4
			td
				| Инструменты и технологии для экономии времени
			td
				ul
					li шаблонизаторы html (например pug или нунчаки)
					li препроцессоры css (например scss, sass, less, stylus)
					li постробработка css
					li стартовые сборки с вебпак и/или галпом
					li системы контроля версий (bitbucket, git)
		tr
			td
				| 5
			td
				| Страница отображается некорректно в Safari/ie. Доступа к исходникам нет. Действия, практика
			td
				p
					| Разбираться на реальных устройствах или при отсутствии таковых в соответствующем эмуляторе с причиной, выкатить фикс(фпт/правка шаблона) с предидущим бекапом данных. Такого опыта у меня к сожалению(или к счастью) очень много, на различных CMS и самописах приходилось очень многое исправлять/дорабатывать.
		tr
			td
				| 6
			td
				| Дизайнер отдал макет без вида интерактивных элементов
			td
				p
					| Написать ему(если это конечно не тестовое задание))), если не отвечает и это срочно сделать надстройку(ветку гит) над кодом со своим вариантом.
		tr
			td
				| 7
			td
				| Ресурсы для развития
			td
				ul
					li Google
					li StackOverflow
					li css trics
					li можно перечислять бесконечно
				p
					| мне близко развитие в сфере сложных анимаций(js, canvas, shaders, например по этой теме многое можно подчерпнуть у Юрия Артюха)
					| интересующие области помимо работы - различные покатушки на велосипедах(есть шоссейник/ универсал и фатбайк)
		tr
			td
				| 8
			td
				| О себе
			td
				p
					| Натура увлечённая и увлекающаяся, практически живу вёрсткой более 4х лет
				p
					| Работы можно глянуть в портфолио на биржах фриланса:
				ul
					li
						a(href="https://freelancehunt.com/my/portfolio") Freelancehunt
					li
						a(href="https://www.weblancer.net/users/Creator_site/") Weblancer



