extends pug/base

append vars
	- title = 'Покорми своих котиков вкусняшками!'
	- meta.description = 'Заказать и купить корм для ваших пушистых и неочень засранцах можно здесь!'
	- link.appleTouchIcon57x57 = '/apple-icon-57x57.png'
	- link.appleTouchIcon60x60 = '/apple-icon-60x60.png'
	- link.appleTouchIcon72x72 = '/apple-icon-72x72.png'
	- link.appleTouchIcon76x76 = '/apple-icon-76x76.png'
	- link.appleTouchIcon114x114 = '/apple-icon-114x114.png'
	- link.appleTouchIcon120x120 = '/apple-icon-120x120.png'
	- link.appleTouchIcon144x144 = '/apple-icon-144x144.png'
	- link.appleTouchIcon152x152 = '/apple-icon-152x152.png'
	- link.appleTouchIcon180x180 = '/apple-icon-180x180.png'
	- link.icon192x192 = '/android-icon-192x192.png'
	- link.icon32x32 = '/favicon-32x32.png'
	- link.icon96x96 = '/favicon-96x96.png'
	- link.icon16x16 = '/favicon-16x16.png'
	- link.manifest = '/manifest.json'
	- meta.msapplicationTileColor = '#1698d9'
	- meta.msapplicationTileImage = '/ms-icon-144x144.png'
	- meta.themeColor = '#1698d9'

block shema
	script(type="application/ld+json").
		{
			"@context": "http://schema.org",
			"@type": "ItemList",
			"url":"http://creator-site.zzz.com.ua/test-funbox/",
			"numberOfItems":3,
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": "1",
					"item": {
						"@type":"Product",
						"name": "Нямушка с фуа-гра 0.5 килограмма",
						"description": "Сказочное заморское яство 10 порций мышь в подарок",
						"url": "http://creator-site.zzz.com.ua/test-funbox#product_1",
						"image": "http://creator-site.zzz.com.ua/test-funbox/images/bg-card.png",
						"weight" : "0.5kg",
						"offers":{
							"@type":"Offer",
								"availability": "http://schema.org/InStock",
								"price": 300,
								"priceCurrency": "RUB"
								}
						}
				},
				{
					"@type": "ListItem",
					"position": "2",
					"item": {
						"@type":"Product",
						"name": "Нямушка с рыбой 2 килограмма",
						"description": "Сказочное заморское яство 40 порций 2 мыши в подарок",
						"url": "http://creator-site.zzz.com.ua/test-funbox#product_2",
						"weight" : "2kg",
						"image": "http://creator-site.zzz.com.ua/test-funbox/images/bg-card.png",
						"offers":{
							"@type":"Offer",
								"availability": "http://schema.org/InStock",
								"price": 1000,
								"priceCurrency": "RUB"
								}
						}
				},
				{
					"@type": "ListItem",
					"position": "3",
					"item": {
						"@type":"Product",
						"name": "Нямушка с фуа-гра 5 килограмм",
						"description": "Сказочное заморское яство 100 порций 5 в подарок",
						"url": "http://creator-site.zzz.com.ua/test-funbox#product_3",
						"weight" : "5kg",
						"image": "http://creator-site.zzz.com.ua/test-funbox/images/bg-card.png",
						"offers":{
							"@type":"Offer",
								"availability": "http://schema.org/Out of stock",
								"price": 2000,
								"priceCurrency": "RUB"
								}
						}
				}
			]
		}

block content
	-
		var cards = [
			{
				"status" : "true",
				"bg": "images/bg-card.png",
				"description" : "Сказочное заморское яство",
				"descriptionSelHover" : "Котэ не одобряет?",
				"title" : "Нямушка",
				"taste" : "с фуа-гра",
				"count" : "10",
				"giftsPart" : "",
				"gifts" :  " мышь в подарок",
				"giftsPastPart" :  "",
				"weight": "0,5",
				"afterText" : "Чего сидишь? Порадуй, ",
				"afterActive" : "Печень утки разварная с артишоками.",
				"afterDisable" : "Печалька, с фуа-гра закончился."
			},
			{
				"status" : "true",
				"bg": "images/bg-card.png",
				"description" : "Сказочное заморское яство",
				"descriptionSelHover" : "Котэ не одобряет?",
				"title" : "Нямушка",
				"taste" : "с рыбой",
				"count" : "40",
				"giftsPart" : "2",
				"gifts" :  " мыши в подарок",
				"giftsPastPart" :  "",
				"weight": "2",
				"afterText" : "Чего сидишь? Порадуй, ",
				"afterActive" : "Головы щучьи с чесноком да свежайшая сёмгушка.",
				"afterDisable" : "Печалька, с рыбой закончился."
			},
			{
				"status" : "",
				"bg": "images/bg-card.png",
				"description" : "Сказочное заморское яство",
				"descriptionSelHover" : "Котэ не одобряет?",
				"title" : "Нямушка",
				"taste" : "с фуа-гра",
				"count" : "100",
				"giftsPart" : "5",
				"gifts" :  " в подарок",
				"giftsPastPart" :  " заказчик доволен",
				"weight": "5",
				"afterText" : "Чего сидишь? Порадуй, ",
				"afterActive" : "Филе из цыплят с трюфелями в бульоне.",
				"afterDisable" : "Печалька, с курой закончился."
			}
		]
	form.product__wrpapper
		h1.product__wrpapper-title
			| Ты сегодня покормил кота?
		ul.product__list(role='productlist')
			each item, index in cards
				+card(index, item.status, item.bg, item.description, item.descriptionSelHover, item.title, item.taste, item.count, item.giftsPart, item.gifts, item.giftsPastPart, item.other, item.weight, item.afterText, item.afterActive, item.afterDisable)
