// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";


// all
html{
	font-size: 12px;
}
html{
	height: 100%;
}
body{
	height: 100vh;
	background-image: url('/images/bg-pattern.jpg');
	background-repeat: repeat;
	box-shadow: inset 0px 87px 147px -34px rgba(0,0,0,.3) , inset 0px -64px 127px -41px rgba(0,0,0,.3);
	overflow-y: auto;
	font-family: $font-family-main;
	padding: 20px 0 30px;
	@media (min-width: 470px) and (max-width: 980px){
		padding: 40px 0 50px;
		height: auto;
	}
	@media (min-width: 981px){
		padding: 0;
	}
}

//product page
.product__wrpapper{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	flex-flow: row wrap;
	align-content: center;
	height: auto;
	@media (min-width: 981px){
		height: 100%;
	}
}
.product__wrpapper-title{
	font-family: $font-family-title;
	flex: 1 1 100%;
	max-width: 100%;
	color: $color-white;
	max-width: 1120px;
	text-align: center;
	font-size: 32px;
	font-weight: 100;
	padding: 0 20px
}
@media (min-width: 600px) {
	.title {
		font-size: 36px;
	}
}
//product list
//outher
.product__list{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	max-width: 1120px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	@media (min-width: 981px) {
		justify-content: space-between;
	}
	li{
		position: relative;
		flex: 1 1 320px;
		max-width: 320px;
		margin-bottom: 40px;
		@media (min-width: 380px){
			margin-bottom: 20px;
		}
		@media (min-width: 768px){
			margin: 20px;
		}

		@media (min-width: 980px){
			margin: 0px;
		}


	}
}
.productSelect{
	display: none;
}
.product__inner-wrapper{
	display: block;
	position: relative;
	width: 100%;
	height: 420px;
	padding: 20px 15px 15px 47px;
	border-bottom-left-radius: 24px;
	@media screen and (min-width: 450px){
		height: 480px;
	}
}
.product__card-bg{
	position: absolute;
	bottom: 0px;
	z-index: -1;
	max-width: 65%;
	left: 23px;
	@media screen and (min-width: 450px){
		bottom: 1px;
		left: 4px;
		max-width: none;
	}
	img{
		max-width: 100%;
		border-bottom-left-radius: 10px;

	}
}

.product__border{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.product-border{
	transition: stroke .3s ease-in-out;
	fill: #f2f2f2;
	stroke-width: 4;
}
.product__bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 100px;
}
.block-top{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc( 100% - 20px);
	z-index: 100;
}
.productSelect{
	& ~ .product__inner-wrapper{
		.product-border{
			stroke: #1698d9;
		}
		.product__weight{
			background-color: #1698d9;
		}
		&:hover {
			.product-border{
				stroke: #2ea8e6;
			}
			.product__weight{
				background-color: #2ea8e6;
			}
		}
	}
	& ~ .product__afterText{
		.default{
			display: block;
			label{
				display: inline-block;
				text-decoration: underline;
				text-decoration-style: dashed;
				color: #1698d9;
			}
		}
		.active-text,
		.disable-text{
			display: none;
		}
	}
	&:checked {
		& ~ .product__inner-wrapper{
			.product-border{
				stroke: #d91667;
			}
			.product__weight{
				background-color: #d91667;
			}
			&:hover {
				.product-border{
					stroke: #e62e7a;
				}
				.product__weight{
					background-color: #e62e7a;
				}
			}
			&.show-sub:hover{
				.description__inner-SelHover,
				.description__inner{
					transform: translateY(-1.3em);
				}
			}
		}
		& ~ .product__afterText{
			.active-text{
				display: block;
			}
			.default,
			.disable-text{
				display: none;
			}
		}
	}
	&:disabled{
		&  ~ .product__inner-wrapper{
			.product__description,
			.description__inner,
			.description__inner-SelHover,
			.product__title,
			.product__subtitle,
			.product__count,
			.product__gift{
				color: #b3b3b3;
			}
			.product__card-bg{
				opacity: .4;
			}
			.product-border{
				stroke: #b3b3b3;
			}
			&:hover .product-border{
				stroke: #b3b3b3;
			}
			.product__weight{
				background-color: #b3b3b3;
			}
		}
		& ~ .product__afterText{
			.disable-text{
				display: block;
				color: #ffff66;
			}
			.default,
			.active-text{
				display: none;
			}
		}
	}
}
.product__inner-wrapper:hover{
	cursor: default;
}
.product.active .product__inner-wrapper:hover{
	cursor: pointer;
}

//inner
.product__description{
	overflow: hidden;
	height: 1.3em;
	font-size: 16px;
	color: #666;
}
.description__inner-SelHover,
.description__inner{
	transition: transform .3s ease-in-out;
	display: block;
}
.description__inner-SelHover{
	color: #e62e7a;
}

.product__title{
	font-size: 48px;
	margin-top: .16em;
	margin-left: -.04em;
	line-height: 1;
	margin-bottom: 0;
	font-weight: 700;
	color: #000000;
}
.product__subtitle{
	font-size: 24px;
	margin-bottom: 0.7em;
	font-weight: 700;
	color: #000000;
}
.product__count{
	font-size: 14px;
	color: #666;
	font-weight: 700;
	span{
		font-weight: 500;
	}
}

.product__gift{
	font-size: 14px;
	color: #666;
	span:first-child{
		font-weight: 700;
	}
	span:last-child{
		display: block;
	}
}

.product__weight{
	position: absolute;
	bottom: 9px;
	right: 29px;
	display: block;
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 42px;
	font-weight: 500;
	line-height: 1;
	border-radius: 50%;
	color: #ffffff;
	padding-top: 9px;
	transition: background-color 0.3s ease-in-out;
	@media screen and (min-width: 450px){
		bottom: 15px;
		right: 15px;
	}
	small{
		font-size: 21px;
		display: block;
		line-height: 1;
	}
}
.product__afterText{
	color: white;
	font-size: 13px;
	text-align: center;
	margin-top: 14px;
	margin-bottom: -7px;
}
.cbalink{
  display: none !important;
}
